<h1 class="m-2 text-center">Cadastrar tarefa</h1>

<div class="card text-dark bg-light p-3">

  <form #formTarefa="ngForm">

    <div class="form-group">

      <label for="nome">Tarefa:</label>

      <input type="text" class="form-control" id="nome" name="nome" minlength="5" [(ngModel)]="tarefa.nome"
        #nome="ngModel" required>

      <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="form-control alert alert-danger" role="alert">
        <div class="m-1" [hidden]="!nome.errors?.['required']">
          Digite a tarefa.
        </div>

        <div class="m-1" [hidden]="!nome.errors?.['minlength']">
          A tarefa deve conter ao menos 5 caracteres.
        </div>
      </div>

    </div>

    <div class="form-group d-flex justify-content-center m-2">
      <button type="button" class="btn btn-success m-1" (click)="cadastrar()"
        [disabled]="!formTarefa.form?.['valid']">Cadastrar</button>

      <a [routerLink]="['/tarefas']" class="btn btn-secondary m-1">
        <i class="bi bi-chevron-left"></i> Voltar
      </a>
    </div>

  </form>

</div>
